<% include partials/header-upper %>
<title>Confirmed</title>
<% include partials/header-lower %>
<% include partials/navbar %>
<section class="jumbotron">
  <h1 class="cursive">Purchase Confirmed</h1>
  <hr class="my-4">
  <h4><%= order.date %></h4>
  <hr class="my-4">
  <ul class="profile-order-list">
    <% var keys = Object.keys(order.cart.items) %>
    <% for (var i = 0; i < Object.keys(order.cart.items).length; i++) { %>
      <% var item = order.cart.items[keys[i]] %>
      <li class="profile-order">
      <div class="lato">
      <strong>Product</strong>: <%= item.item.name %>
      </div>
      <div class="lato">
      <strong>Brand</strong>: <%= item.item.brand %>
      </div>
      <div class="lato">
      <strong>Quantity</strong>: <%= item.qty %>
      </div>
      <div class="lato">
      <strong>Price</strong>: $<%= parseFloat(item.price).toFixed(2) %>
      </div>
      <hr class="my-4">
      </li>
    <% } %>
  </ul>
  <h3><strong>Total Price: $<%=parseFloat(order.cart.totalPrice).toFixed(2)%></strong></h3>
  <hr class="my-4">
  <h3><a class="continue_to_profile" href="/user/profile">Continue to Profile</a></h3>
</section>

<% include partials/footer-upper %>
<% include partials/footer-lower %>
