<% include partials/header-upper %>
<title>Product</title>
<% include partials/header-lower %>

<% include partials/navbar %>


<section class="product_content">
    <div class="fill_bar"></div>
    <div class="core_product">
      <div class="p_img_wrap">
          <img src="../<%= product.image %>" alt="product image">
      </div>
      <div class="p_desc">
        <h1 class="p_title lato"><%= product.name %></h1>
        <h3 class="price lato">$<%= parseFloat(product.price).toFixed(2) %></h3>
        <div class="atc_wrap">
          <a href="/cart/add-to-cart/<%= product.name %>" class="btn_large" id="add_to_cart">
              Add to Cart
          </a>
        </div>
        <div class="product_details">
            <%= product.description %>
        </div>
      </div>
      <div class="donation_info">
        <h3>Donation Information</h3>
        <h2><strong>Country:</strong> <%= donat_dest.country %></h2>
        <p><%= donat_dest.description %></p>
      </div>
    </div>
</section>
<% include partials/footer-upper %>
<% include partials/footer-lower %>
